# Service : back
## --> General settings
ENVIRONMENT=local
APP_PORT=5000
FLASK_ENV=development
# Service : db
POSTGRES_USER=user
POSTGRES_PASSWORD=user-password
POSTGRES_DB=db
POSTGRES_DB_TEST=db_test
POSTGRES_HOST=db
# Service : front
REACT_APP_API_URL=http://localhost/api
REACT_APP_ENVIRONMENT=local