.folder-card {
    transform: scale(1);
    transition: transform 400ms ease;
}

.folder-card:hover {
    transform: scale(1.05);
}

.folder-notes {
    list-style-position: inside;
    padding-left: 0;
}